<a href="https://colab.research.google.com/github/qkasten/TF-clan/blob/main/HW1_Data_cleaning_and_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
"""
Links that helped me further understand the data.
hoa
  https://corporatefinanceinstitute.com/resources/knowledge/other/homeowners-association-hoa/
mls
  https://www.investopedia.com/terms/m/multiple-listing-service-mls.asp#toc-what-is-an-mls-number
"""

In [ ]:
df = pd.read_csv('/content/raw_house_data.csv')
print(df.shape)
df.head(3)

(5000, 16)

,MLS,sold_price,zipcode,longitude,latitude,lot_acres,taxes,year_built,bedrooms,bathrooms,sqrt_ft,garage,kitchen_features,fireplaces,floor_covering,HOA
0,21530491,5300000.0,85637,-110.378200,31.356362,2154.0,5272.00,1941,13,10,10500,0,"Dishwasher, Freezer, Refrigerator, Oven",6.0,"Mexican Tile, Wood",0
1,21529082,4200000.0,85646,-111.045371,31.594213,1707.0,10422.36,1997,2,2,7300,0,"Dishwasher, Garbage Disposal",5.0,"Natural Stone, Other",0
2,3054672,4200000.0,85646,-111.040707,31.594844,1707.0,10482.00,1997,2,3,None,None,"Dishwasher, Garbage Disposal, Refrigerator",5.0,"Natural Stone, Other: Rock",None

In [ ]:
# Remove duplicated rows if they exist
df.drop_duplicates()
print(df.shape)

(5000, 16)

In [ ]:
df.columns

Index(['MLS', 'sold_price', 'zipcode', 'longitude', 'latitude', 'lot_acres',
       'taxes', 'year_built', 'bedrooms', 'bathrooms', 'sqrt_ft', 'garage',
       'kitchen_features', 'fireplaces', 'floor_covering', 'HOA'],
      dtype='object')

In [ ]:
# Removing logitude and lattitude because we have zip code
df1 = df.drop(['longitude', 'latitude'], axis=1)
print(df1.shape)

(5000, 14)

In [ ]:
df1.columns

Index(['MLS', 'sold_price', 'zipcode', 'lot_acres', 'taxes', 'year_built',
       'bedrooms', 'bathrooms', 'sqrt_ft', 'garage', 'kitchen_features',
       'fireplaces', 'floor_covering', 'HOA'],
      dtype='object')

In [ ]:
# Convert all 'None' values to nan
cols = ['MLS', 'sold_price', 'zipcode', 'lot_acres', 'taxes', 'year_built',
       'bedrooms', 'bathrooms', 'sqrt_ft', 'garage', 'kitchen_features',
       'fireplaces', 'floor_covering', 'HOA']
for i in cols:
  df1[i].replace('None', np.nan, inplace=True)
df1.head(3)

,MLS,sold_price,zipcode,lot_acres,taxes,year_built,bedrooms,bathrooms,sqrt_ft,garage,kitchen_features,fireplaces,floor_covering,HOA
0,21530491,5300000.0,85637,2154.0,5272.00,1941,13,10,10500,0,"Dishwasher, Freezer, Refrigerator, Oven",6.0,"Mexican Tile, Wood",0
1,21529082,4200000.0,85646,1707.0,10422.36,1997,2,2,7300,0,"Dishwasher, Garbage Disposal",5.0,"Natural Stone, Other",0
2,3054672,4200000.0,85646,1707.0,10482.00,1997,2,3,NaN,NaN,"Dishwasher, Garbage Disposal, Refrigerator",5.0,"Natural Stone, Other: Rock",NaN

In [ ]:
df1.isnull().sum()

MLS                   0
sold_price            0
zipcode               0
lot_acres            10
taxes                 0
year_built            0
bedrooms              0
bathrooms             6
sqrt_ft              56
garage                7
kitchen_features     33
fireplaces           25
floor_covering        1
HOA                 562
dtype: int64

ASSUMPTION: I am assuming nan values for ['HOA', 'fireplaces', 'garage'] denotes that the property doesnt have the corresponding item. I am therefore converting those nan values to 0 to represent my assumption.

In [ ]:
# With that assumption, I will change those nan values to 0
cols_nan_to_0 = ['HOA', 'fireplaces', 'garage']
for i in cols_nan_to_0:
  df1[i].replace(np.nan, 0, inplace=True)
df1.isnull().sum()

MLS                  0
sold_price           0
zipcode              0
lot_acres           10
taxes                0
year_built           0
bedrooms             0
bathrooms            6
sqrt_ft             56
garage               0
kitchen_features    33
fireplaces           0
floor_covering       1
HOA                  0
dtype: int64

In [ ]:
(df1.isnull().sum().sum())/5000

0.0212

Only 2% of the data contains missing values at this point. Being that it is less than 5% of the total data, I think it is safe to remove them.

In [ ]:
df2 = df1.dropna()
df2.isnull().sum()

MLS                 0
sold_price          0
zipcode             0
lot_acres           0
taxes               0
year_built          0
bedrooms            0
bathrooms           0
sqrt_ft             0
garage              0
kitchen_features    0
fireplaces          0
floor_covering      0
HOA                 0
dtype: int64

In [ ]:
df2.shape

(4912, 14)

In [ ]:
df2.dtypes

MLS                   int64
sold_price          float64
zipcode               int64
lot_acres           float64
taxes               float64
year_built            int64
bedrooms              int64
bathrooms            object
sqrt_ft              object
garage               object
kitchen_features     object
fireplaces          float64
floor_covering       object
HOA                  object
dtype: object

In [ ]:
# Converting the object types to a numerical type
df2.bathrooms = df2.bathrooms.astype(float)
df2.sqrt_ft = df2.sqrt_ft.astype(float)
df2.garage = df2.garage.astype(float).astype(int)
df2.fireplaces = df2.fireplaces.astype(int)

In [ ]:
df2.dtypes

MLS                   int64
sold_price          float64
zipcode               int64
lot_acres           float64
taxes               float64
year_built            int64
bedrooms              int64
bathrooms           float64
sqrt_ft             float64
garage                int64
kitchen_features     object
fireplaces            int64
floor_covering       object
HOA                  object
dtype: object

In [ ]:
df2.HOA = df2.HOA.replace(',','', regex=True)
df2.HOA = df2.HOA.astype(float)
df2.dtypes

Now that the dtypes have been dealth with I will create another dataframe to start cleaning another aspect of the data.

In [ ]:
df3 = df2.copy()
df3.shape

(4912, 14)

In [ ]:
kitchen_items = set([])
for i in df3['kitchen_features'].unique():
  for item in i.split(','):
    kitchen_items.add(item.strip(' '))
kitchen_items = sorted(kitchen_items)
for i in kitchen_items:
  print(i)

# of Ovens: 1
# of Ovens: 2
Appliance Color: Almond
Appliance Color: Black
Appliance Color: Other
Appliance Color: Stainless
Appliance Color: White
Black
Built In
Built in
Butch Block
Compactor
Convection Oven
Countertops: .
Countertops: Brazilian Granite
Countertops: Brazillian slate
Countertops: ButcherBlock/Concret
Countertops: CONCRETE
Countertops: CORIAN
Countertops: CUSTOM TILE &GRANITE
Countertops: Caesar Stone
Countertops: Caesarstone
Countertops: Ceasarstone
Countertops: Ceaserstone
Countertops: Cement-laminate
Countertops: Ceramic
Countertops: Ceramic Tile
Countertops: Chiseled Granite
Countertops: Chisled Edge Granite
Countertops: Colored concrete
Countertops: Combo
Countertops: Composite Granite
Countertops: Concrete
Countertops: Concrete/Wood
Countertops: Conrete/Stone
Countertops: Corain
Countertops: Corian
Countertops: Corian - wood
Countertops: Corion
Countertops: Custom Tile
Countertops: Dekton / Granite
Countertops: Fascination Quartzi
Countertops: Formica
Countertops: GRANITE
Countertops: GRANITE SLAB
Countertops: GRANITE SLABS
Countertops: Ganite
Countertops: Garnite
Countertops: Gas / Black
Countertops: Graniet
Countertops: Granite
Countertops: Granite & Butcher Bl
Countertops: Granite & Concrete
Countertops: Granite & Quartz
Countertops: Granite &Butcher Blk
Countertops: Granite + concrete
Countertops: Granite Slab
Countertops: Granite Tile
Countertops: Granite or Quartz
Countertops: Granite slab
Countertops: Granite/ Silstone
Countertops: Granite/Butcher
Countertops: Granite/Copper
Countertops: Granite/Quartz
Countertops: Granite/Quartzsite
Countertops: Granite/Slate
Countertops: Granite/Tile
Countertops: Granite/Wood
Countertops: Grantie
Countertops: Grantie/Steel
Countertops: Grantite & Quartz
Countertops: Grey Quartz
Countertops: Honed granite
Countertops: Included
Countertops: India Black Granite
Countertops: Labradorite Granite
Countertops: Laminate
Countertops: Leathered Granite
Countertops: Limestone
Countertops: MARBLE
Countertops: Mahogany
Countertops: Maole
Countertops: Marble
Countertops: Marble & Granite
Countertops: Marble Slab
Countertops: Mex Tile
Countertops: New. Quartz
Countertops: Other
Countertops: Porcelain Tile
Countertops: QUARTZ
Countertops: Qortstone Quartz
Countertops: Quartz
Countertops: Quartz & Granite
Countertops: Quartz Stone
Countertops: Quartz and Granite
Countertops: Quartz/Marble
Countertops: Quartzite
Countertops: Recycled Glass
Countertops: SLAB GRANITE
Countertops: SS
Countertops: STONE
Countertops: Silesstone
Countertops: Silestone
Countertops: Slab Granite
Countertops: Slate
Countertops: Sllestone
Countertops: Soap Stone
Countertops: Soapstone
Countertops: Stained Concrete
Countertops: Stainless
Countertops: Steel
Countertops: Stone
Countertops: Stone Tile
Countertops: Stonite
Countertops: TBD
Countertops: TILE
Countertops: TUMBLED MARBLE
Countertops: Taj Mahal Quartzite
Countertops: Talavera tile
Countertops: Teak Wood
Countertops: Tile
Countertops: Tile & Formica
Countertops: Tile & Wood
Countertops: Tile/Wood
Countertops: Travertine Slab
Countertops: Travertine tile
Countertops: UPG Granite
Countertops: White Marble
Countertops: White quartz
Countertops: Wood
Countertops: Zodiak Quartz
Countertops: butcher block on isl
Countertops: caesarstone
Countertops: carrera marble
Countertops: ceramic tile
Countertops: composite
Countertops: concrete
Countertops: corian
Countertops: corion
Countertops: corrian
Countertops: custom concrete
Countertops: ganite
Countertops: granite
Countertops: granite & corine
Countertops: granite / quartzite
Countertops: granite Tile
Countertops: granite monte cristo
Countertops: granite tile
Countertops: granite/formica
Countertops: granite/tile
Countertops: granite/wood
Countertops: limestone
Countertops: limestone and SS
Countertops: marble
Countertops: marble & granite
Countertops: marble/quartz
Countertops: mixed
Countertops: porceain
Countertops: quartz
Countertops: quartz/Granite
Countertops: silestone
Countertops: slate
Countertops: slate tile
Countertops: slate/honed Granite
Countertops: soap stone
Countertops: solid surface
Countertops: stained concrete
Countertops: stainless
Countertops: stone
Countertops: tile
Countertops: tiled
Countertops: travertine
Countertops: tumbled marble
Countertops: wood
Countertops: wood and granite
Countertops: wood/granite
Countertops: yes
Desk
Dishwasher
Double Sink
Electric
Electric Oven
Electric Range
Freezer
GE
Garbage Disposal
Gas Cooktop
Gas Range
Indoor Grill
Island
Lazy Susan
Microwave
Microwave:  / convection
Microwave:  Built In
Microwave: & Advantium
Microwave: +Convection Built-in
Microwave: -
Microwave: ---
Microwave: .
Microwave: 0n counter
Microwave: 1
Microwave: 2
Microwave: Above GAS Cooktop
Microwave: Above Oven
Microwave: Above Stove
Microwave: Above oven
Microwave: Above range
Microwave: Advantium
Microwave: Advantium Speed
Microwave: Avantium
Microwave: BLACK
Microwave: BUILT IN
Microwave: BUILT-IN
Microwave: Bertazzoni
Microwave: Black
Microwave: Black Stainless Stee
Microwave: Bosch
Microwave: Builkt-in
Microwave: Built In
Microwave: Built In / Black
Microwave: Built In Wall
Microwave: Built In White
Microwave: Built in
Microwave: Built in SS
Microwave: Built in-Black
Microwave: Built in/Convection
Microwave: Built-In
Microwave: Built-In/Convention
Microwave: Built-in
Microwave: Built-in SS
Microwave: Built-in Wall
Microwave: Built-in/Stainless
Microwave: Builtin
Microwave: Buyer Verify
Microwave: CONVECT. GE
Microwave: COUNTERTOP
Microwave: Cabinet
Microwave: Combo/Convection
Microwave: Convection
Microwave: Convection & Regular
Microwave: Convection Microwave
Microwave: Convection/Steam
Microwave: Conventional
Microwave: Counter
Microwave: Counter Top
Microwave: Counter top
Microwave: Countertop
Microwave: Dacor
Microwave: Dacor Convection
Microwave: Dacor Stainless
Microwave: Decor
Microwave: Drawer
Microwave: Drawer Built In
Microwave: Drawer in Island
Microwave: Electric/brolier
Microwave: Electrolux
Microwave: Free standing
Microwave: Frigidaire Professio
Microwave: GE
Microwave: GE  Convection
Microwave: GE Cafe Advantium
Microwave: GE Mongram
Microwave: GE Monogram
Microwave: GE Moongram
Microwave: GE Profile
Microwave: GE Profile Advantium
Microwave: GE Stainless
Microwave: GE Stainless Steel
Microwave: GE Stainless in butl
Microwave: Hood
Microwave: In Kitchen
Microwave: In Pantry
Microwave: In cabinet
Microwave: In pantry
Microwave: In-Cabinet
Microwave: Included
Microwave: Installed
Microwave: Jenn AIr
Microwave: Jenn Aire
Microwave: Jenn Aire Built In
Microwave: KAD dual convection
Microwave: Kenmore
Microwave: Kitchen Aid
Microwave: Kitchen-Aid
Microwave: KitchenAid
Microwave: Kitchenaid
Microwave: MICROWAVE
Microwave: MW & Convection
Microwave: Micro/convention
Microwave: Microwave
Microwave: Miele
Microwave: Monogram
Microwave: Mounted
Microwave: NEW SS GE PROFILE
Microwave: New
Microwave: Not built in
Microwave: On shelf
Microwave: Other
Microwave: Oven
Microwave: Oven Combo
Microwave: Over Cooktop
Microwave: Over Range
Microwave: Over Stove
Microwave: Over the range
Microwave: Over the stove
Microwave: Overhead
Microwave: Profile GE
Microwave: S/S Convection
Microwave: SHARP - DRAWER
Microwave: SS
Microwave: SS Appliance
Microwave: SS Jenn-Air
Microwave: SS Sharp
Microwave: SS/Oven
Microwave: STAINLESS
Microwave: Samsung
Microwave: Satinless
Microwave: Sharp
Microwave: Shelf
Microwave: Stainless
Microwave: Stainless Built in
Microwave: Stainless GE
Microwave: Stainless Steel
Microwave: Stainless Viking
Microwave: Stainless built in
Microwave: Stainless built-In
Microwave: Stainless over oven
Microwave: Stainless steel
Microwave: Stainless/Confection
Microwave: Stainless/Convection
Microwave: Stand alone
Microwave: TBD
Microwave: Thermador
Microwave: Unattached
Microwave: Under Counter
Microwave: Under Upper Cabinet
Microwave: Under cabinet
Microwave: Under counter
Microwave: Undercabinet
Microwave: Upgraded
Microwave: Upper Cabinet
Microwave: Viking
Microwave: Viking/Built in
Microwave: WALL
Microwave: Wall
Microwave: Wall Built-In
Microwave: Whirlpool
Microwave: White
Microwave: White GE
Microwave: Wolf
Microwave: Y
Microwave: YES
Microwave: Yes
Microwave: above counter
Microwave: above range
Microwave: above stove/oven
Microwave: area
Microwave: black
Microwave: blt in black
Microwave: built -in
Microwave: built in
Microwave: built in SS
Microwave: built in cabinet
Microwave: built in on Stove
Microwave: built-in
Microwave: built-in wall unit
Microwave: combo
Microwave: convection
Microwave: convention
Microwave: counter top
Microwave: drawer
Microwave: elec
Microwave: in pantry
Microwave: included
Microwave: inset cabinet
Microwave: micorwave
Microwave: microwave
Microwave: none
Microwave: on wall
Microwave: oven
Microwave: overhead
Microwave: shelf + builtin
Microwave: ss
Microwave: stainless
Microwave: stainless built in
Microwave: stainless built-in
Microwave: stainless steel
Microwave: thermador
Microwave: two
Microwave: two built in
Microwave: wall
Microwave: wall mounted
Microwave: wolf
Microwave: yes
Missing: -
Missing: All Appliances
Missing: Custom oak cabinets
Missing: Microwave
Missing: Oven
Missing: Range
Missing: Refrigerator
Missing: Wine Cooler
Missing: Wine Fridge
Missing: Wine Frig
Missing: Wine Refrigerator
Missing: Wine Room/Storage
Missing: Wine cooler
Missing: appliances
Missing: instant Hot  Water
Missing: kitchen
Missing: refrigerator
Missing: stainless
Missing: wine cooler
Missing: wine refrigerator
Oven
Oven:  2 ovens
Oven:  Wolf Double
Oven: & Warming Drawer
Oven: -
Oven: ---
Oven: .
Oven: .Double
Oven: 1convection/1regular
Oven: 2
Oven: 2 - Built in
Oven: 2 OVENS
Oven: 2 Ovens
Oven: 2 Wall Ovens
Oven: 2 convection
Oven: 2 elec/convect/micro
Oven: 2 ovens- elec
Oven: 2 ovens-Main 1-GH
Oven: 2 stainless ovens
Oven: 2 x Wall Ovens
Oven: 2-Electric
Oven: 3
Oven: 3 Wolf
Oven: BBL convection
Oven: BUILT IN
Oven: Bertazzoni
Oven: Black
Oven: Blue Star
Oven: Bosch
Oven: Built -in
Oven: Built In
Oven: Built In Off White
Oven: Built In Wall
Oven: Built in
Oven: Built in  Convection
Oven: Built in/Convection
Oven: Built-In
Oven: Built-In Black
Oven: Built-in
Oven: Built-in Bosch
Oven: Built-in SS
Oven: Built-in Wall
Oven: Built-in gas
Oven: Buyer Verify
Oven: Conv. & Advantium
Oven: Convec/Reg
Oven: Convection
Oven: Convection Double
Oven: Convection/Standard
Oven: Convection/Steam
Oven: Cooktop
Oven: DACOR
Oven: DOUBLE
Oven: DOUBLE GAS
Oven: DOUBLE OVEN
Oven: DOUBLE OVENS
Oven: DOUBLE Ovens
Oven: Dacor
Oven: Decor
Oven: Double
Oven: Double - GE Monogram
Oven: Double - SS
Oven: Double Convection
Oven: Double Elec/ConSS
Oven: Double GE Monogram
Oven: Double Oven
Oven: Double Oven/cook top
Oven: Double Ovens
Oven: Double SS
Oven: Double Stacked
Oven: Double Stainless
Oven: Double Viking Ovens
Oven: Double Wall
Oven: Double Wall Oven
Oven: Double Wall Ovens
Oven: Double Wall mounted
Oven: Double Wall ovens
Oven: Double built in
Oven: Double convection
Oven: Double in stove
Oven: Double oven
Oven: Double w/Convection
Oven: Double wall
Oven: Double wall mounted
Oven: Double wall ovens
Oven: Double-Stainless
Oven: Double/Black
Oven: Double/Built-in
Oven: Double/Convection
Oven: Double/Stainless
Oven: Double/convection
Oven: Drop-in
Oven: Dual
Oven: Dual in wall
Oven: Duel Fuel
Oven: ELECTRIC
Oven: Electric
Oven: Electric / Black
Oven: Electric Double Oven
Oven: Electric range 36��
Oven: Electric/Convection
Oven: Electrolux
Oven: Five Star Stainless
Oven: Free-standing
Oven: Frigidaire Professio
Oven: GAS
Oven: GAS/STAINLESS
Oven: GE
Oven: GE Built-in
Oven: GE Convection
Oven: GE Monogram
Oven: GE PROFILE
Oven: GE Profile
Oven: GE Profile Electric
Oven: GE Stainless
Oven: Gas
Oven: Gas & Convection
Oven: Gas & Electric Black
Oven: Gas - Double
Oven: Gas Decor Stainless
Oven: Gas Range/Oven
Oven: Gas/Wall
Oven: Gas?
Oven: Glass Top
Oven: Heartland
Oven: In Kitchen
Oven: In range
Oven: Included
Oven: Italian
Oven: Jenn-Air
Oven: Jenn-Air 6 Burner
Oven: KAD
Oven: Kenmore
Oven: Kitchen Aid
Oven: Kitchen Air
Oven: Kitchen-Aid
Oven: KitchenAid
Oven: Miele
Oven: Monogram
Oven: Monogram Dbl
Oven: Mounted
Oven: NEW SS GE PROFILE
Oven: New Built In
Oven: New. Gas Range
Oven: OVEN
Oven: OVen
Oven: Other
Oven: Oven
Oven: Oven-Stove
Oven: Oven/Stove
Oven: Oven/stove stainless
Oven: Professional 36'' Gas
Oven: Profile GE
Oven: Range
Oven: Range has 2 Ovens
Oven: S/S
Oven: SS
Oven: SS Appliance
Oven: SS GE
Oven: SS GE Cafe
Oven: SS Jenn-Air
Oven: STAINELSS
Oven: STAINLESS
Oven: STAINLESS/GAS
Oven: Samsung
Oven: Single
Oven: Slide in Range
Oven: Stainless
Oven: Stainless Built-In
Oven: Stainless Steel
Oven: Stainless Viking
Oven: Stainless built in
Oven: Stainless/Convection
Oven: Stanless
Oven: Stianless
Oven: TBD
Oven: Thermador
Oven: Two
Oven: Two Ovens
Oven: Under Range
Oven: Viking
Oven: Viking Appliances
Oven: Viking/Gas
Oven: WALL
Oven: WALL OVEN
Oven: Wall
Oven: Wall Built-In
Oven: Wall Oven
Oven: Wall oven
Oven: Wall/Convection
Oven: Whirlpool
Oven: White
Oven: White GE built in
Oven: Wolf
Oven: Wolf & Viking dbl ov
Oven: Wolf 6-burner
Oven: Wolf Brand
Oven: Wolf SS
Oven: Wolf-Dual Fuel Range
Oven: Wolf/stove
Oven: Y
Oven: YES
Oven: Yes
Oven: black
Oven: blt black
Oven: built in
Oven: built-in
Oven: combe m/w
Oven: convection
Oven: convection (2)
Oven: convection oven
Oven: double
Oven: double  ovens
Oven: double - electric
Oven: double SS
Oven: double convection
Oven: double oven
Oven: double oven built-in
Oven: double ovens
Oven: double range
Oven: double wall
Oven: elec/gas/convection
Oven: electric
Oven: electric built in
Oven: electric wall
Oven: electric/dual
Oven: electric/gas stove
Oven: freestanding
Oven: gas
Oven: in range
Oven: included
Oven: multiple wall ovens
Oven: mutiple
Oven: oven
Oven: oven / range
Oven: oven/ stove
Oven: part of range & elec
Oven: professional 48''
Oven: slide in
Oven: ss
Oven: stainless
Oven: stainless built-in
Oven: stainless high-end
Oven: stove/oven
Oven: total of 2
Oven: two
Oven: under cabinet
Oven: viking
Oven: vintage
Oven: wall
Oven: wall (electric)
Oven: wall mounted
Oven: wall oven
Oven: wall with convection
Oven: white
Oven: wolf
Oven: x 2
Oven: xtra-electric
Oven: yes
Pantry: Butler
Pantry: Cabinet
Pantry: Closet
Pantry: Walk-In
Prep Sink
Quartzite
Refrigerator
Reverse Osmosis
Stainless
Tile
Warming Drawer
Water Purifier
Wet Bar
Wine Cooler
above Oven
convection
tile

After seeing how dirty the 'kitchen_features' data is I decided to remove it until further notice. I think it can be processed and added to the dataset using a one-hot-encoding style in the future, but until I develope a method for doing so I believe it is better to leave it out of the dataset.

In [ ]:
df3 = df3.drop(['kitchen_features'], axis=1)
print(df3.shape)
df3.head(3)

(4912, 13)

,MLS,sold_price,zipcode,lot_acres,taxes,year_built,bedrooms,bathrooms,sqrt_ft,garage,fireplaces,floor_covering,HOA
0,21530491,5300000.0,85637,2154.00,5272.00,1941,13,10.0,10500.0,0,6,"Mexican Tile, Wood",0.0
1,21529082,4200000.0,85646,1707.00,10422.36,1997,2,2.0,7300.0,0,5,"Natural Stone, Other",0.0
3,21919321,4500000.0,85646,636.67,8418.58,1930,7,5.0,9019.0,4,4,"Ceramic Tile, Laminate, Wood",0.0

In [ ]:
floor_items = set([])
for i in df3['floor_covering'].unique():
  for item in i.split(','):
    floor_items.add(item.strip(' '))
floor_items = sorted(floor_items)
for i in floor_items:
  print(i)

Carpet
Ceramic Tile
Concrete
Granite
Indoor/Outdoor
Laminate
Mexican Tile
Natural Stone
Other
Other: 100% Porcelain Tile
Other: Bamboo
Other: Brazilian Pergo
Other: Brick
Other: Brick Floor
Other: Brick Pavers
Other: Brick inlayed
Other: CONCRETE TILE
Other: Canterra Stone
Other: Carpet bedrooms only
Other: Cement tiles/Bamboo
Other: Concrete tile
Other: Cork
Other: Custom Saltillo
Other: Dyed Concrete
Other: Egytian sandstone
Other: Eng wood
Other: Engineered Wood
Other: Flagstone
Other: Hardwood
Other: High End Laminate
Other: Itailian Porclaine
Other: Italian Tile
Other: Italian tile
Other: Lime Stone
Other: Limestone
Other: Lux Vinyl
Other: Luxury Vinyl
Other: Marble
Other: Marble-Master Bath
Other: Master Bedroom/ Tile
Other: Mesquite wood floors
Other: Multiple Types
Other: NEW Plank Tile
Other: NEW WOOD PLANK TILE
Other: None
Other: Organic Wool Carpet
Other: PLANK TILE
Other: Parquet
Other: Pergo
Other: Polish concrete
Other: Polished Brick
Other: Polished Concrete
Other: Porcelain
Other: Porcelain Plank Tile
Other: Porcelain Tile
Other: Porcelain Wood Tile
Other: Porcelain tile
Other: Porcelain tile 24x24
Other: Porcelain-wood
Other: Porcelain/Engineered
Other: Porcelyn
Other: Porclain Tile
Other: Quartzite
Other: Real polishd aggrgt
Other: Recycled Porcelain
Other: Red Brick
Other: Refinished Brick
Other: Rojo Concrete Overla
Other: Saltillo
Other: Saltillo on Patio
Other: Saltillo tile
Other: San Marcos Mex Tile
Other: See remarks
Other: Slate
Other: Slate tile
Other: TBD
Other: Talavera Floors
Other: Terrazzo
Other: Throughout home
Other: Tile
Other: Tile bathrooms
Other: Tile/Powder Rm
Other: Travertine
Other: Travertine & slate
Other: Travertine Tile
Other: Travertine entry
Other: UPG Flooring
Other: Vinyl Plank
Other: WOOD LAMINATE
Other: Wood Laminate
Other: Wood Laminate Water
Other: Wood Plan Laminate
Other: Wood laminate
Other: Wood like
Other: acrylic overlay
Other: brick
Other: brick pavers
Other: carpet- guest house
Other: concrete tile
Other: cork
Other: engineered wood
Other: flagstone
Other: gray saltillo
Other: porcelain
Other: porcelain tile
Other: porcelain wood tile
Other: porclain tile
Other: saltillo
Other: scored concrete
Other: studio laminate
Other: travertine
Other: travertine/flagstone
Other: vinyl planks
Vinyl
Wood

I am removing floor_coverings for the same reason I removed kitchen_items

In [ ]:
df3 = df3.drop(['floor_covering'], axis=1)
print(df3.shape)
df3.head(3)

(4912, 12)

,MLS,sold_price,zipcode,lot_acres,taxes,year_built,bedrooms,bathrooms,sqrt_ft,garage,fireplaces,HOA
0,21530491,5300000.0,85637,2154.00,5272.00,1941,13,10.0,10500.0,0,6,0.0
1,21529082,4200000.0,85646,1707.00,10422.36,1997,2,2.0,7300.0,0,5,0.0
3,21919321,4500000.0,85646,636.67,8418.58,1930,7,5.0,9019.0,4,4,0.0

I believe the important information in the HOA column is whether a property does or doesn't have an attached HOA, so I one-hot-encoded the HOA column to represent that. I think this is a better representation because some area's will naturally have a higher population, thus a larger HOA, and that could skew the results.

In [ ]:
df3.HOA = df3.HOA.apply(lambda x: 1 if x > 0.0 else 0)
df3.HOA.unique()

array([0, 1])

I am creating two columns ['price_per_sqft', 'price_per_acre'] because I believe they will be good price estimators. Before I can do that I will check & remove rows where either of those columns are 0 as long as I don't end up removing more than 5% of the original data.

In [ ]:
df4 = df3.copy()
print(df4[df4['lot_acres'].apply(lambda x: x == 0.0)].shape)
print(df4[df4['sqrt_ft'].apply(lambda x: x == 0.0)].shape)

(35, 12)
(0, 12)

In [ ]:
df5 = df4[~df4['lot_acres'].apply(lambda x: x == 0.0)]
df5 = df5[~df5['sqrt_ft'].apply(lambda x: x == 0.0)]

Since it was only 35 rows I know I can remove them without going over my 5% limit. In total, I removed a little less than 3% of the data.

In [ ]:
df5['price_per_sqft'] = round(df5['sold_price']/df5['sqrt_ft'], 2)
df5['price_per_acre'] = round(df5['sold_price']/df5['lot_acres'], 2)
df5.head()

,MLS,sold_price,zipcode,lot_acres,taxes,year_built,bedrooms,bathrooms,sqrt_ft,garage,fireplaces,HOA,price_per_sqft,price_per_acre
0,21530491,5300000.0,85637,2154.00,5272.00,1941,13,10.0,10500.0,0,6,0,504.76,2460.54
1,21529082,4200000.0,85646,1707.00,10422.36,1997,2,2.0,7300.0,0,5,0,575.34,2460.46
3,21919321,4500000.0,85646,636.67,8418.58,1930,7,5.0,9019.0,4,4,0,498.95,7068.03
4,21306357,3411450.0,85750,3.21,15393.00,1995,4,6.0,6396.0,3,5,1,533.37,1062757.01
5,21528016,3250000.0,85718,1.67,27802.84,1999,3,4.0,6842.0,3,5,1,475.01,1946107.78